body {
  font-family: Verdana;
}
h1 {
  font-family: cursive;
  background: white;
  color: black;
}

p {
  width: 400px;
  padding: 50px;
  color: white;
}

body {
  background-color: black;
  color: white;
}

article figure {
  width: auto;
  border: 3px solid white;
  padding: 50px;
  float: right;
}

article figure img {
  width: 100%;
}

nav ul li {
  background-color: Black;
  list-style: none;
  display: inline;
  border: 2px solid White;
  padding: 5px;
}

nav ul {
  padding: 0;
}

nav ul li a {
  color: White;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline Orange;
  background-color: Red;
}
footer {
	bottom:0;
  width:100%;
	height:20px;
  background:LightBlue;
  color: DarkBlue;
}

input {
  float : right;
  font-weight: 900;
  background: Red;
  padding: 5px;
  margin: 0;
  width: 50px;
}

img {
  float :right;
}

th {
  background-color: White;
  Color: Black;
}

table {
  margin: 10px;
  padding: 50px;
}

h2 {
  margin: 10px;
}
